#container {
    max-width: 98vw;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #ffffff;
  }
  #section {
    height: 210vh;
    text-align: left;
    max-width: 80%;
  }

  .containerLeft {
    width: 15vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #f4f4f4;
    color: white;
    margin-left: 5px;
  }

  #containerRight {
    margin-left: 5vw;
    /* width: 80vw; */
  }
  .menu {
    margin-left: 3%;
  }

