.wrapper  {
    background-color: #F8F8F8;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 1000px;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.profile {
    margin-top: 40px;
    text-align: center;

}

.img {
    display: block;
    border-radius: 50%;
    margin: auto;
    
}

.profileText {
    color: #00BFA6;
    margin: 10px 0 5px;
}

.profileRole {
    color: #00BFA6;
    font-size: 15px;
}

.signOut {
    text-align: center;
    margin-top: 500px;
}

.type {
padding: 10px;
border-radius: 10px;
background-color: #F9110C;
outline: none;
color: white;
cursor: pointer;
box-shadow: none;
border: 0;
width: 90px;
}



